.additionalInfo {
    float: right;
    font-stretch: condensed;
    font-size:smaller;
}

.emphasis{
    font-style: italic;
}

.projects{
    margin-left: 40px;
    font-stretch: condensed;
    font-size:smaller;
}

.sectionEntry {
    margin-top: 10px;
    margin-bottom: 40px;
}