@use 'components/Footer-component/Footer';
@use 'components/Header-component/Header';
@use 'components/Photo-component/Photo';
@use 'components/Section-component/Section';
@use 'components/SectionEntry-component/SectionEntry';
@use 'components/SidePane-component/SidePane';

$main-color: black;
$title-font-weight: bold;

.title {
    font-weight: $title-font-weight;
}

a {
    color: $main-color;
}

@media print {
    a {
        text-decoration: none;
    }
}
