@use 'components/Footer/Footer';
@use 'components/Header/Header';
@use 'components/Photo/Photo';
@use 'components/Section/Section';
@use 'components/SectionEntry/SectionEntry';
@use 'components/SidePane/SidePane';

$main-color: black;
$title-font-weight: bold;

.title {
    font-weight: $title-font-weight;
}

a {
    color: $main-color;
}

@media print {
    a {
        text-decoration: none;
    }
}
